*,
*::before,
*::after {
  box-sizing: border-box;
}

.menu-card {
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: black solid 2px;
    background-color: goldenrod;
    width: 300px;
    height: auto;
    border-radius: 5px; 
}

a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: black solid 2px;
    border-radius: 3px;
    background-color: orangered;
    color: black;
}

nav {
    background-color: goldenrod;
}

h1 {
    text-align: center;
    font-size: 50px;
}


.menu-image {
    border: solid 2px black;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.gullfoss {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: lightblue;
    border: black solid 2px;
    border-radius: 3px;
    font-size: x-large;

}

 .details {
    text-align: center;
    padding: 20px;
    margin: 100px;
    background-color: goldenrod;
    border: black solid 2px;
    border-radius: 3px;
    font-size: x-large;
}

.detail-image {
    width: 300px;
    border: solid 2px black;
    border-radius: 5px;
}