<%- include('partials/header') %>
<main class="gullfoss">
    <p>Gullfoss</p>
    <img style="height: 300px; width: 400px; border: solid 2px black; border-radius: 5px;" src="/img/gullfoss.webp" alt="Gullfoss">
    <p>Gullfoss is a very famous waterfall near Reykjavik located i the Haukadalur Valley on the Hvita River.</p>
    
</main>

<%- include('partials/footer') %>
