<%- include('partials/header') %>
<main class="gullfoss">
    <img src="" alt="">
    <p>Gullfoss is a very famous waterfall near Reykjavik located i the Haukadalur Valley on the Hvita River.</p>
</main>

<%- include('partials/footer') %>
